<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title>Form</title>
  </head>
  <body>
    <%- include('navbar', {links:links}) %>
    <h1> Form </h1>
    <form method = "POST" action="/form">
        <label for="instrument">Instrument: </label><br>
        <input type="text" id="instrument" name="instrument" placeholder="instrument" required><br>
        <label for="maker">Maker: </label><br>
        <input type="text" id="maker" name="maker" placeholder="maker" required><br>
        <label for="price">Price (USD): </label><br>
        <input type="number" id="price" name="price" value="0" required><br>
        <label for="category">Category: </label><br>
        <select id="category" name="category">
        <% if (locals.categories) { %>
            <% categories.forEach((eachcategory) => { %>
            <option value="<%=eachcategory.category%>" selected><%=eachcategory.category%></option>
        <% }); %>
         <% } %>
        </select><br>
        <label for="username">Username: </label><br>
        <input id = "username" type = "text" name = "username" placeholder ="username" required><br>
        <button>Submit</button>
        
    </form>
  </body>
</html>
